.centeringContainer{
  display: grid;
  place-items: center;
  margin-top: 12px;
}

.incidentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  place-items: center;
}

.incidentField{
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
}

.radio{
  margin: 16px;
}

#radioLabelId {
  margin-top: 24px;
}
