<mat-toolbar color="primary"><a>Welcome to the POLICE MANUAL</a></mat-toolbar>
<div class="centeringContainer">
  <form class="incidentForm">
    <mat-form-field class="incidentField" appearance="standard">
      <mat-label>Number of Cops</mat-label>
      <input
        [(ngModel)]="incident.cops"
        name="cops"
        matInput
        class="incidentInput"
        type="number"
        placeholder="eg. 1"
      />
      <mat-hint>Input Number of policemen on the field</mat-hint>
    </mat-form-field>
    <mat-form-field class="incidentField" appearance="standard">
      <mat-label>Number of Criminals</mat-label>
      <input
        [(ngModel)]="incident.criminals"
        name="criminals"
        matInput
        class="incidentInput"
        type="number"
        placeholder="eg. 1"
      />
      <mat-hint>Input Number of criminals on the field</mat-hint>
    </mat-form-field>
    <mat-form-field class="incidentField" appearance="standard">
      <mat-label>Weapon Type of Criminals</mat-label>
      <mat-select
        class="incidentInput"
        [(ngModel)]="incident.weapon"
        name="weapon"
      >
        <mat-option *ngFor="let inc of incidentWeaponLabels; let i=index" [value]="i">{{
          inc
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="incidentField" appearance="standard">
      <mat-label>Police Response</mat-label>
      <mat-select
        class="incidentInput"
        [(ngModel)]="incident.allreadyUsedPoliceResponse"
        name="allreadyUsedPoliceResponse"
      >
        <mat-option *ngFor="let inc of incidentResponseLabels; let i=index" [value]="i">{{
          inc
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <label id="suspectThreatIntentionRadioLabelId"
      >Suspect Threat Intention:</label
    >
    <mat-radio-group
      [(ngModel)]="incident.suspectThreatIntention"
      class="radioForm"
      aria-labelledby="suspectThreatIntentionRadioLabelId"
      name="suspectThreatIntention"
    >
      <mat-radio-button class="radio" [value]="true">Yes</mat-radio-button>
      <mat-radio-button class="radio" [value]="false">No</mat-radio-button>
    </mat-radio-group>
    <label id="responseWorkedRadioLabelId">Did the police Response Work:</label>
    <mat-radio-group
      [(ngModel)]="incident.responseWorked"
      class="radioForm"
      aria-labelledby="responseWorkedRadioLabelId"
      name="responseWorked"
    >
      <mat-radio-button class="radio" [value]="true">Yes</mat-radio-button>
      <mat-radio-button class="radio" [value]="false">No</mat-radio-button>
    </mat-radio-group>
    <button mat-stroked-button (click)="resolveIncident()" color="primary">
      Resolve
    </button>
  </form>
  <div style="margin-top: 24px;">
    Response: <span>{{ response }}</span>
  </div>
</div>
