.centeringContainer{
  display: grid;
  place-items: center;
  margin-top: 124px;
}

.x500Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  place-items: center;
}

.x500Field{
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
}

.radio{
  margin: 16px;
}

#radioLabelId {
  margin-top: 24px;
}
